version: '{build}-{branch}'

platform:
  - x86
  - x64

# scripts to run before build
before_build:
  - java -version
  - mvn -version
  - cd cool_project

# to run your custom scripts instead of automatic MSBuild
build_script:
  - mvn compile

# to run your custom scripts instead of automatic tests
test_script:
  - mvn test

before_deploy:
  - cd client
  - mvn assembly:single
  - cd ../..
  - mv cool_project/client/target/client-jar-with-dependencies.jar .
  - powershell -Command "Rename-Item 'client-jar-with-dependencies.jar' 'client$env:APPVEYOR_REPO_TAG_NAME-win32-$env:PLATFORM.jar'"
  - dir
  
deploy:
  - provider: GitHub
    artifact: client$APPVEYOR_REPO_TAG_NAME-win32-$PLATFORM.jar
    auth_token:
      secure: JSa1npfW5NtI+N0982O0xpEyVK9rWc2Y3tnAOFXpIrmU2QR9mYyWZnwMh0bUCRIo
    on:
      branch: main
      APPVEYOR_REPO_TAG: true
